body {
  font-family: Luxi Sans, Helvetica, Arial, Geneva, sans-serif;
  font-size: 14px;
  margin: 0;
}

input.path {
  width: 420px;
}

input.label {
  width: 50px;
}

input.plugin_dirs {
  width: 500px;
}

input.module { 
  width: 400px;
}

input.method {  
  width: 200px;
}

input.submit {
}

.clear {
  clear: both;
}

#header {
  position: fixed;
  width: 100%;
}

#spec {
  padding: 8px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  line-height: 28px;
  vertical-align:middle;
  white-space: nowrap;
  font-weight: bold;
}

#menu {
  padding: 10px 10px 13px 10px;
  white-space: nowrap;
  font-size: 12px;
  background-color: #dedede;
  border-top: #d0d0d0 2px solid;
  border-bottom: #A9A9A9 1px solid;
  white-space: nowrap;
}

#menu .panel {
  float:left;
  width: 50%;
  text-align: center;
}

.disabled {
  color: #999;
}

.code {
  display:none;
}

#diff {
  padding-top: 136px;
  width:100%;
}

#diff table {
  width: 100%;
}

#results {
  padding: 66px 20px 20px 20px;
}

.modules {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.modules th, .modules td {
  text-align: left;
  border: #999999 1px solid;
  margin: 0;
  padding: 4px 7px;
}

.modules th {
  padding: 7px;
  color: #000000;
  background-color: #dddddd;
  white-space: nowrap;
  font-weight: normal;
}

.modules th.mod {
  font-weight: bold;
  width: 1%;
}

.modules tr.final td {
  border-left:#ffffff 1px solid;
  border-right:#ffffff 1px solid;
  border-bottom:#ffffff 1px solid;
  color: white;
  background-color: transparent;
}

.modules td.method {
  padding-left: 20px;
}

.modules td.same {
  background-color: #FFFED7;
}

.modules td.new {
  background-color: #BBFFBB;
}

.modules td.changed {
  background-color: #FFDA95;
}

.modules td.removed {
  background-color: #FFD7D7;
}

.modules td.na {
  background-color: #FFFFFF;
}

  